body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== HEADER ===== */
.site-header {
    width: 100%;
}

.topbar {
    background: #6f2c91;
    color: white;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    box-sizing: border-box;
}

.topbar-center {
    font-size: 16px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 500px;
    gap: 14px;
}
.topbar-right {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 14px;
    position: absolute;
    right: 200px;
}

.topbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.topbar-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.icon {
    height: 30px;
}

.divider {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.mainnav {
    background: #ffffff;
    min-height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.mainnav-left {
    align-items: center;
    position: relative;
    left: 150px;
}

.mainnav-right {
    align-items: center;
    position: relative;
    right: 150px;
}

.mainnav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainnav-menu a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 14px 18px;
    border-right: 1px solid #d9d9d9;
}

.mainnav-menu a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    background-color: #4f186b;
}


.we-belong-logo {
    height: 70px;
    width: auto;
    display: flex;
}

.flagstaff-logo {
    height: 30px;
    width: auto;
    display: flex;
}

/* ===== Exten ===== */
.dropdown {
    position: relative;
}

/* hidden menu */
.content {
    display: none;
    position: absolute;
    background: #ffffff;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 1;
}

/* dropdown items */
.content a {
    display: block;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 18px;
}

.content a:hover {
    color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    background-color: #4f186b;
}

/* keep title in hover state */
.dropdown:hover > a {
    color: white;
    background-color: #4f186b;
}

/* Show on hover */
.dropdown:hover .content {
    display: block;
    top: 34px;
}

/* ===== FOOTER ===== */
.site-footer {
    margin-top: 20px;
}

.footer-bar {
    width: 100%;
    border-collapse: collapse;
    background: #45aebe;
}

.footer-bar td {
    text-align: center;
    font-size: 14px;
    color: white;
    padding: 12px;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* ===== IMAGE BANNER ===== */
.simple-banner {
    position: relative;
    height: 200px;

    background-image: url("/home-page-banner.jpg");
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
}

/* overlay for readability */
.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(84, 2, 119, 0.816); /* purple overlay */
}

/* content */
.banner-content {
    position: relative;
    color: white;
    padding-left: 180px;
}

/* home link */
.home-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.home-link:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* title */
.banner-title {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
}